{% extends 'base.html' %}
{% block title %}tada_history {% endblock title %}

{% block body %}
<div class='container'>
  <style>
        .container {
  margin-top: 20px;
  width: 150%;
  /* border: 3px solid #73AD21; */
  padding: 20px;
  margin-bottom: 20px;


}
      

  </style>

  <html>



      <table class="table table-striped">
          <thead>
            <tr>
            
              <th scope="col">Date</th>
              <th scope="col">Name</th>
              <th scope="col">Travel cost</th>
              <th scope="col">Lunch cost</th>
              <th scope="col">Instrument cost</th>
              <th scope="col">Total cost</th>
              <th scope="col">Paid</th>
              <th scope="col">Update</th>
            </tr>
          </thead>
          <tbody>
          {%for i,j in data%} 
            <tr>
              
              <td>{{i.date}}</td>
              <td>{{i.emp_name}}</td>
              <td>{{i.tr_cost}}</td>
              <td>{{i.ln_cost}}</td>
              <td>{{i.ins_cost}}</td>
              <td>{{j}}</td>
              <td>{{i.paid}}</td>
              <td><a  class="btn btn-success" href="{%url 'tada_update' i.id%}">Update</a></td>
              
            </tr>
            {% endfor %} 

          </tbody>
        </table>
        

      
        {% if data %}        
        <div class="text-center">
            <a type="button" class="btn btn-primary" href="/">Add another</a>
            <a type="button" class="btn btn-primary" href="render_pdf_view">Download report</a>
        </div>
        {% endif %}

      
        
  </html>


</div>
{% endblock body %}
